.jumbotron {
    padding:40px 0px 40px 0px;
    margin:0px auto;
    background: #12A28C     ;
    color:floralwhite;
    padding-top: 80px;
    height: 210px;
}

.mynav{
    background-color: whitesmoke;
    border-bottom: 0.1pt solid black;
}

.tempsuggest {
    position: absolute;
    max-height: 240px;
    overflow: auto;
    scrollbar-width: none;
}

/*.Search{
  width: 100%;
  border: 1px solid grey;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 4px 1px rgba(0,0,0,.18);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgba(0,0,0,.73);
} */

/* .Search input {
  width: 100%;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgba(0,0,0,.73);
  padding: 10px 5px;
  box-sizing: border-box;
  outline: none;
} */

.Search ul {
    list-style-type: none;
    background-color: white;
    text-align: left;
    margin: 0;
    padding: 0;
    width: 225px;
    border-top: 1px solid grey;
    border-radius: 3px;
}
  
.Search ul::before{
    content: "";
}
  
.Search li {
    padding: 3px 5px;
    color: black;
    font-size: 14px;
}
  
.Search li:hover{
    color: #12A28C;
    cursor: pointer;
}