.App {
  text-align: center;
}

.row-header{
  margin:0px auto;
  padding:0px auto;
}

.footer{
  background-color: #b8e3dd;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}


address{
  font-size:90%;
  margin:0px;
  color:#0f0f0f;
}



h1 {
   font-weight: bold;
}







.prescription{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  border: 3px solid #73AD21;
}


